.task-container {
    position: relative;
    background-color: #2A2E35;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.task-container h2 {
    font-size: 20px;
    color: #ECEFF1;
    margin: 0;
    margin-bottom: 10px; 
}

.task-container p {
    font-size: 16px;
    color: #81D4FA;
    margin: 0 0 15px 0;
    word-wrap: break-word; 
}

.task-buttons {
    display: flex;
    gap: 10px; 
}

.task-container button {
    background-color: #81fa89;
    color: #1C1F24;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
}

.task-container button:hover {
    background-color: #50ff5b;
    transform: translateY(-2px);
}

.task-container button.secondary {
    background-color: #EF5350;
    color: #FFF;
}

.task-container button.secondary:hover {
    background-color: #E53935;
    transform: translateY(-2px);
}

.label-container {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #c33c37;
    margin: 0.5rem;
}
.completed {
    color: #4dd727;
}

.not-completed {
color: #e43731; 
}

.task-date {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}