body {
    background: #1d1f21cd;
    font-size: 16px;
    font-family: 'Play', sans-serif;
    position: relative;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}